.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    min-width: 50vw;
}

body {
    background-color: #f7f7f7;
    margin: 0;
}

header {
    margin: 0;
    background-color: #dddddd;
}

footer {
    margin: 0;
    background-color: #eeeeee;
}

nav, h1 {
    display: inline;
}

nav > a {
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

nav > a:hover {
    text-decoration: underline;
}

nav {
    margin-left: 1rem;
}

article, hgroup {
    padding: 1rem;
    max-width: 35rem;
    margin: auto;
}

p {
    text-align: justify;
}
